@model AppHRM.Models.Hopdong

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa Thông Tin Hợp Đồng</h1>

<h3>Bạn có muốn xóa thông tin này?</h3>
<div>
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHopDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHopDong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNhanVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNhanVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiHopDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiHopDong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MucLuongThoaThuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MucLuongThoaThuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DieuKhoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DieuKhoan)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-dark">Trở lại danh sách</a>
    </form>
</div>
