@model IEnumerable<AppHRM.Models.Phongban>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Danh Sách Các Phòng Ban</h1>

<a asp-action="Create" class="btn btn-primary">Thêm Mới</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaPhongBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenPhongBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaPhongBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenPhongBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.Id }, new { @class="btn btn-warning" }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }, new { @class="btn btn-success" }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class="btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
